details {
    border: 1px solid;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
  
    summary {
      font-weight: bold;
      margin: -0.5em -0.5em 0;
      padding: 0.5em;
    }
  
    &[open] {
      padding: 0.5em;
  
      summary {
        border-bottom: 1px solid;
        margin-bottom: 0.5em;
      }
    }
  }