<ul class="margin-center" appMatFormFieldGroup (onAllInputCheck)="validForm = $event">
  <li>
    <app-mat-form-field-input
    label="ID"
    [(value)]="item.id"
    [styleWidth]="'100%'"
    [disable]="true"
    ></app-mat-form-field-input>
  </li>
  <li>
    <app-mat-form-field-input
    label="Item Name"
    [(value)]="item.name"
    styleWidth="100%"
    [required]="true"
    ></app-mat-form-field-input>
  </li>
  <li>
    <app-mat-form-field-input
    label="Item Path"
    [(value)]="item.path"
    styleWidth="100%"
    [focusOutAutoFillFn]="formatValidPath"
    [required]="true"
    ></app-mat-form-field-input>
  </li>
  <li>
    <app-mat-form-field-input-option
    label="Verbosity"
    [(value)]="item.verbosity"
    [options]="verbosityOptions"
    styleWidth="100%"
    ></app-mat-form-field-input-option>
  </li>
  <li>
    <details>
      <summary>Trigger</summary>
      <ul>
        <li>
          <app-mat-form-field-input-dynamic
          label="Trigger on github webhook"
          [(value)]="item.triggerOnGithubWebhook"
          styleWidth="100%"
          [isSlideToggle]="true"
          [blankObject]="false"
          ></app-mat-form-field-input-dynamic>
        </li>
        <li *ngIf="item.triggerOnGithubWebhook">
          <app-mat-form-field-input
          label="Github url"
          [(value)]="item.githubUrl"
          styleWidth="100%"
          [placeholder]="'https://github.com/org/repo'"
          [required]="true"
          [autoFillHttps]="true"
          [showGoto]="true"
          ></app-mat-form-field-input>
        </li>
        <li *ngIf="item.triggerOnGithubWebhook && item.githubUrl">
          <app-mat-form-field-input
          label="Configurate gihub to send webhook to this url"
          [value]="getGithubWebhookUrl()"
          styleWidth="100%"
          [readonly]="true"
          [showCopyToClipboard]="true"
          ></app-mat-form-field-input>
        </li>
        <hr>
        <li>
          <app-mat-form-field-input-dynamic
          label="Trigger on gitlab webhook"
          [(value)]="item.triggerOnGitlabWebhook"
          styleWidth="100%"
          [isSlideToggle]="true"
          [blankObject]="false"
          ></app-mat-form-field-input-dynamic>
        </li>
        <li *ngIf="item.triggerOnGitlabWebhook">
          <app-mat-form-field-input
          label="gitlab url"
          [(value)]="item.gitlabUrl"
          styleWidth="100%"
          [placeholder]="'https://gitlab.com/org/repo'"
          [required]="true"
          [autoFillHttps]="true"
          [showGoto]="true"
          ></app-mat-form-field-input>
        </li>
        <li *ngIf="item.triggerOnGitlabWebhook && item.gitlabUrl">
          <app-mat-form-field-input
          label="Configurate gitlab to send webhook to this url"
          [value]="getGitlabWebhookUrl()"
          styleWidth="100%"
          [readonly]="true"
          [showCopyToClipboard]="true"
          ></app-mat-form-field-input>
        </li>
        <hr>
        <li>
          <app-mat-form-field-input
          label="Trigger on cron job schedule"
          [(value)]="item.cronExpression"
          placeholder="e.g * * * * * *"
          styleWidth="100%"
          ></app-mat-form-field-input>
        </li>
      </ul>
    </details>
    <br>
  </li>

  <li>
    <details open>
      <summary>Inventory</summary>
      <ul>
        <li>
          <app-mat-form-field-input-option
          label="Inventory"
          [(value)]="item.inventoryPath"
          [options]="ensibleWorkspaceParserService.inventoriesFileOptions"
          [required]="true"
          styleWidth="100%"
          ></app-mat-form-field-input-option>
        </li>
        <li *ngIf="item.inventoryPath">
          <details>
            <summary>Quick Edit</summary>
            <app-ensible-fs
            [fsPath]="item.inventoryPath"
            (isEditing)="isFsEditing[0] = $event"
            ></app-ensible-fs>
          </details>
        </li>
      </ul>
    </details>
    <br>
  </li>

  <li>
    <details open>
      <summary>Playbook</summary>
      <ul>
        <li>
          <app-mat-form-field-input-option
          label="Playbook"
          [(value)]="item.playBookPath"
          [options]="ensibleWorkspaceParserService.playbooksFileOptions"
          [required]="true"
          styleWidth="100%"
          ></app-mat-form-field-input-option>
        </li>
        <li *ngIf="item.playBookPath">
          <details>
            <summary>Quick Edit</summary>
            <app-ensible-fs
            [fsPath]="item.playBookPath"
            (isEditing)="isFsEditing[1] = $event"
            ></app-ensible-fs>
          </details>
        </li>
      </ul>
    </details>
    <br>
  </li>

  <li>
    <details>
      <summary>Secret</summary>
      <ul>
        <li>
          <app-mat-form-field-input-option
          label="Secret File"
          [(value)]="item.vaultSecretsFilePath"
          [options]="ensibleWorkspaceParserService.secretsFileOptions"
          styleWidth="100%"
          [blankObject]="''"
          ></app-mat-form-field-input-option>
        </li>
        <li *ngIf="item.vaultSecretsFilePath">
          <details>
            <summary>Quick Edit</summary>
            <app-ensible-fs
            [fsPath]="item.vaultSecretsFilePath"
            (isEditing)="isFsEditing[2] = $event"
            ></app-ensible-fs>
          </details>
          <hr>
        </li>
        <li>
          <app-mat-form-field-input-dynamic
          *ngIf="item.vaultSecretsFilePath"
          label="Use user password as vault password (not recommended)"
          [(value)]="item.useUserAsPassword"
          styleWidth="100%"
          [isSlideToggle]="true"
          [blankObject]="false"
          ></app-mat-form-field-input-dynamic>
        </li>
        <li>
          <app-mat-form-field-input-option
          *ngIf="item.vaultSecretsFilePath && !item.useUserAsPassword"
          label="Secret password file"
          [(value)]="item.vaultPasswordFilePath"
          [options]="ensibleWorkspaceParserService.passwordFileOptions"
          styleWidth="100%"
          [required]="true"
          ></app-mat-form-field-input-option>
        </li>
      </ul>
    </details>
    <br>
  </li>

  <li class="flex-row-container">
    <button mat-raised-button color="primary" (click)="save()" [disabled]="!validForm || !isValueChange()">Save</button>
    <button mat-raised-button color="warn" (click)="revert()" [disabled]="!isValueChange()">Revert</button>
    <button *ngIf="item.id" mat-raised-button color="warn" (click)="deleteItem()">Delete</button>
  </li>
</ul>
