<ul class="margin-center" appMatFormFieldGroup (onAllInputCheck)="validForm = $event">
    <!-- <li>
      <app-mat-form-field-input
      label="ID"
      [(value)]="item.id"
      [styleWidth]="'100%'"
      [disable]="true"
      ></app-mat-form-field-input>
    </li> -->
    <li>
      <app-mat-form-field-input
      label="Item Name"
      [(value)]="item.name"
      styleWidth="100%"
      [required]="true"
      ></app-mat-form-field-input>
    </li>
    <li>
      <app-mat-form-field-input
      label="Item Path"
      [(value)]="item.path"
      styleWidth="100%"
      [focusOutAutoFillFn]="formatValidPath"
      [required]="true"
      ></app-mat-form-field-input>
    </li>
    <li>
      <app-ensible-user-access
      [(value)]="item"
      styleWidth="100%"
      [inputType]="[UserAccessInputType.SHARED_USERS, UserAccessInputType.SHARED_GROUPS, UserAccessInputType.SHARED_OTHERS]"
      ></app-ensible-user-access>
      <br>
    </li>
    <li>
      <app-mat-form-field-input-record
      label="Environment variable"
      [(value)]="item.variables"
      styleWidth="100%"
      [blankObject]="blankItem.variables"
      [showSizeInput]="false"
      [required]="true"
      ></app-mat-form-field-input-record>
      <br>
    </li>
    <li>
      <app-mat-form-field-input-list
      label="Parameter variable"
      [(value)]="item.variableList"
      styleWidth="100%"
      [blankObject]="''"
      [showSizeInput]="false"
      [required]="true"
      ></app-mat-form-field-input-list>
      <br>
    </li>

    <li *ngIf="(item.triggerOnGithubWebhook || item.triggerOnGitlabWebhook) && webhookEnvironmentVariableList.length > 0">
      <app-mat-form-field-input-record
      label="Webhook environment variable"
      [(value)]="webhookEnvironmentVariables"
      styleWidth="100%"
      [blankObject]="blankItem.variables"
      [readonly]="true"
      ></app-mat-form-field-input-record>
      <br>
    </li>
    <li *ngIf="(item.triggerOnGithubWebhook || item.triggerOnGitlabWebhook) && webhookEnvironmentVariableList.length > 0">
      <app-mat-form-field-input-list
      label="Webhook Parameter variable"
      [(value)]="webhookEnvironmentVariableList"
      styleWidth="100%"
      [blankObject]="''"
      [showSizeInput]="false"
      [readonly]="true"
      ></app-mat-form-field-input-list>
      <br>
    </li>

    <ng-content select="[optionContent]"></ng-content>

    <li>
      <details>
        <summary>Trigger</summary>
        <ul>
          <li>
            <app-mat-form-field-input-dynamic
            label="Trigger on github webhook"
            [(value)]="item.triggerOnGithubWebhook"
            styleWidth="100%"
            [isSlideToggle]="true"
            [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li *ngIf="item.triggerOnGithubWebhook">
            <app-mat-form-field-input
            label="Github url"
            [(value)]="item.githubUrl"
            styleWidth="100%"
            [placeholder]="'https://github.com/org/repo'"
            [required]="true"
            [autoFillHttps]="true"
            [showGoto]="true"
            ></app-mat-form-field-input>
          </li>
          <li *ngIf="item.triggerOnGithubWebhook && item.githubUrl">
            <app-mat-form-field-input
            label="Configurate gihub to send webhook to this url"
            [value]="getGithubWebhookUrl()"
            styleWidth="100%"
            [readonly]="true"
            [showCopyToClipboard]="true"
            ></app-mat-form-field-input>
          </li>
          <hr>
          <li>
            <app-mat-form-field-input-dynamic
            label="Trigger on gitlab webhook"
            [(value)]="item.triggerOnGitlabWebhook"
            styleWidth="100%"
            [isSlideToggle]="true"
            [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li *ngIf="item.triggerOnGitlabWebhook">
            <app-mat-form-field-input
            label="gitlab url"
            [(value)]="item.gitlabUrl"
            styleWidth="100%"
            [placeholder]="'https://gitlab.com/org/repo'"
            [required]="true"
            [autoFillHttps]="true"
            [showGoto]="true"
            ></app-mat-form-field-input>
          </li>
          <li *ngIf="item.triggerOnGitlabWebhook && item.gitlabUrl">
            <app-mat-form-field-input
            label="Configurate gitlab to send webhook to this url"
            [value]="getGitlabWebhookUrl()"
            styleWidth="100%"
            [readonly]="true"
            [showCopyToClipboard]="true"
            ></app-mat-form-field-input>
          </li>
          <hr>
          <li>
            <app-mat-form-field-input
            label="Trigger on cron job schedule"
            [(value)]="item.cronExpression"
            placeholder="e.g * * * * * *, 0 0 * * *, 0 0/5 * */3 * *"
            styleWidth="100%"
            ></app-mat-form-field-input>
          </li>
          <li *ngIf="item.cronExpression">
            <span>{{getCronDescription(item.cronExpression)}}</span>
          </li>
        </ul>
      </details>
      <br>
    </li>

    <li *ngIf="item.triggerOnGithubWebhook || item.triggerOnGitlabWebhook">
      <details>
        <summary>Webhook Config</summary>
        <ul>
          <li>
            <app-mat-form-field-input
              label="Default empty value"
              [(value)]="item.webhookConfig.webhookDefaultEmptyValue"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
            ></app-mat-form-field-input>
          </li>

          <hr>
          <!-- Repository -->
          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add repository name"
              [(value)]="item.webhookConfig.webhookAddRepositoryName"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddRepositoryName"
              label="Repository name variable"
              [(value)]="item.webhookConfig.webhookVariableRepositoryName"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
            ></app-mat-form-field-input>
          </li>

          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add repository owner or organization"
              [(value)]="item.webhookConfig.webhookAddRepositoryOwnerOrOrganization"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddRepositoryOwnerOrOrganization"
              label="Repository owner or organization variable"
              [(value)]="item.webhookConfig.webhookVariableRepositoryOwnerOrOrganization"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add repository URL"
              [(value)]="item.webhookConfig.webhookAddRepositoryUrl"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddRepositoryUrl"
              label="Repository URL variable"
              [(value)]="item.webhookConfig.webhookVariableRepositoryUrl"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add repository default branch"
              [(value)]="item.webhookConfig.webhookAddRepositoryDefaultBranch"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddRepositoryDefaultBranch"
              label="Repository default branch variable"
              [(value)]="item.webhookConfig.webhookVariableRepositoryDefaultBranch"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <hr>
          <!-- Commit -->
          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add commit SHA or ID"
              [(value)]="item.webhookConfig.webhookAddCommitShaOrId"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddCommitShaOrId"
              label="Commit SHA or ID variable"
              [(value)]="item.webhookConfig.webhookVariableCommitShaOrId"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add commit message"
              [(value)]="item.webhookConfig.webhookAddCommitMessage"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddCommitMessage"
              label="Commit message variable"
              [(value)]="item.webhookConfig.webhookVariableCommitMessage"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add commit author"
              [(value)]="item.webhookConfig.webhookAddCommitAuthor"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddCommitAuthor"
              label="Commit author variable"
              [(value)]="item.webhookConfig.webhookVariableCommitAuthor"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add commit timestamp"
              [(value)]="item.webhookConfig.webhookAddCommitTimeStamp"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddCommitTimeStamp"
              label="Commit timestamp variable"
              [(value)]="item.webhookConfig.webhookVariableCommitTimeStamp"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add files changed"
              [(value)]="item.webhookConfig.webhookAddFilesChanged"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddFilesChanged"
              label="Files changed variable"
              [(value)]="item.webhookConfig.webhookVariableFilesChanged"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add diff statistic"
              [(value)]="item.webhookConfig.webhookAddDiffStatistic"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddDiffStatistic"
              label="Diff statistic variable"
              [(value)]="item.webhookConfig.webhookVariableDiffStatistic"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <hr>
          <!-- Branch -->
          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add branch name"
              [(value)]="item.webhookConfig.webhookAddBranchName"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddBranchName"
              label="Branch name variable"
              [(value)]="item.webhookConfig.webhookVariableBranchName"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add base branch"
              [(value)]="item.webhookConfig.webhookAddBaseBranch"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddBaseBranch"
              label="Base branch variable"
              [(value)]="item.webhookConfig.webhookVariableBaseBranch"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add is default branch"
              [(value)]="item.webhookConfig.webhookAddIsDefaultBranch"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddIsDefaultBranch"
              label="Is default branch variable"
              [(value)]="item.webhookConfig.webhookVariableIsDefaultBranch"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <hr>
          <!-- Event -->
          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add event type"
              [(value)]="item.webhookConfig.webhookAddEventType"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddEventType"
              label="Event type variable"
              [(value)]="item.webhookConfig.webhookVariableEventType"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add event ID"
              [(value)]="item.webhookConfig.webhookAddEventId"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddEventId"
              label="Event ID variable"
              [(value)]="item.webhookConfig.webhookVariableEventId"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add triggered workflow/pipeline name"
              [(value)]="item.webhookConfig.webhookAddEventTriggeredWorkflowOrPipelineName"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddEventTriggeredWorkflowOrPipelineName"
              label="Triggered workflow/pipeline name variable"
              [(value)]="item.webhookConfig.webhookVariableEventTriggeredWorkflowOrPipelineName"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <hr>
          <!-- Pull/Merge -->
          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add pull/merge number or ID"
              [(value)]="item.webhookConfig.webhookAddPullOrMergeNumberOrId"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddPullOrMergeNumberOrId"
              label="Pull/merge number or ID variable"
              [(value)]="item.webhookConfig.webhookVariablePullOrMergeNumberOrId"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add pull/merge title"
              [(value)]="item.webhookConfig.webhookAddPullOrMergeTitle"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddPullOrMergeTitle"
              label="Pull/merge title variable"
              [(value)]="item.webhookConfig.webhookVariablePullOrMergeTitle"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add pull/merge description"
              [(value)]="item.webhookConfig.webhookAddPullOrMergeDescription"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddPullOrMergeDescription"
              label="Pull/merge description variable"
              [(value)]="item.webhookConfig.webhookVariablePullOrMergeDescription"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add pull/merge state"
              [(value)]="item.webhookConfig.webhookAddPullOrMergeState"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddPullOrMergeState"
              label="Pull/merge state variable"
              [(value)]="item.webhookConfig.webhookVariablePullOrMergeState"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add pull/merge labels"
              [(value)]="item.webhookConfig.webhookAddPullOrMergeLabels"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddPullOrMergeLabels"
              label="Pull/merge labels variable"
              [(value)]="item.webhookConfig.webhookVariablePullOrMergeLabels"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add pull/merge reviewers"
              [(value)]="item.webhookConfig.webhookAddPullOrMergeReviewers"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddPullOrMergeReviewers"
              label="Pull/merge reviewers variable"
              [(value)]="item.webhookConfig.webhookVariablePullOrMergeReviewers"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add pull/merge approval count"
              [(value)]="item.webhookConfig.webhookAddPullOrMergeApprovialCount"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddPullOrMergeApprovialCount"
              label="Pull/merge approval count variable"
              [(value)]="item.webhookConfig.webhookVariablePullOrMergeApprovialCount"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <hr>
          <!-- Tag -->
          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add tag name"
              [(value)]="item.webhookConfig.webhookAddTagName"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddTagName"
              label="Tag name variable"
              [(value)]="item.webhookConfig.webhookVariableTagName"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add tag message"
              [(value)]="item.webhookConfig.webhookAddTagMessage"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddTagMessage"
              label="Tag message variable"
              [(value)]="item.webhookConfig.webhookVariableTagMessage"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <li>
            <app-mat-form-field-input-dynamic
              label="Auto add tag name and email"
              [(value)]="item.webhookConfig.webhookAddTagNameAndEmail"
              styleWidth="100%"
              [isSlideToggle]="true"
              [blankObject]="false"
            ></app-mat-form-field-input-dynamic>
          </li>
          <li>
            <app-mat-form-field-input
              *ngIf="item.webhookConfig.webhookAddTagNameAndEmail"
              label="Tag name and email variable"
              [(value)]="item.webhookConfig.webhookVariableTagNameAndEmail"
              styleWidth="100%"
              [required]="true"
              [blankObject]="''"
              [focusOutAutoFillFn]="formatVariableName"
              ></app-mat-form-field-input>
          </li>

          <hr>
          <!-- Triggered User --> 
          <li> 
            <app-mat-form-field-input-dynamic 
            label="Auto add triggered username" 
            [(value)]="item.webhookConfig.webhookAddTriggeredUsername" 
            styleWidth="100%" 
            [isSlideToggle]="true" 
            [blankObject]="false" 
          ></app-mat-form-field-input-dynamic> 
          </li> 
          <li> 
            <app-mat-form-field-input 
            *ngIf="item.webhookConfig.webhookAddTriggeredUsername" 
            label="Triggered username variable" 
            [(value)]="item.webhookConfig.webhookVariableTriggeredUsername" 
            styleWidth="100%" 
            [required]="true" 
            [blankObject]="''" 
            [focusOutAutoFillFn]="formatVariableName"
            ></app-mat-form-field-input> 
          </li> 
          <li> 
            <app-mat-form-field-input-dynamic 
            label="Auto add triggered user email" 
            [(value)]="item.webhookConfig.webhookAddTriggeredUserEmail" 
            styleWidth="100%" 
            [isSlideToggle]="true" 
            [blankObject]="false" 
            ></app-mat-form-field-input-dynamic> 
          </li> 
          <li> 
            <app-mat-form-field-input 
            *ngIf="item.webhookConfig.webhookAddTriggeredUserEmail" 
            label="Triggered user email variable" 
            [(value)]="item.webhookConfig.webhookVariableTriggeredUserEmail" 
            styleWidth="100%" 
            [required]="true" 
            [blankObject]="''" 
            [focusOutAutoFillFn]="formatVariableName"
            ></app-mat-form-field-input> 
          </li> 
          <li> 
            <app-mat-form-field-input-dynamic 
            label="Auto add triggered user permission or role" 
            [(value)]="item.webhookConfig.webhookAddTriggeredUserPermissionOrRole" 
            styleWidth="100%" 
            [isSlideToggle]="true" 
            [blankObject]="false" 
            ></app-mat-form-field-input-dynamic> 
          </li> 
          <li> 
            <app-mat-form-field-input 
            *ngIf="item.webhookConfig.webhookAddTriggeredUserPermissionOrRole" 
            label="Triggered user permission/role variable" 
            [(value)]="item.webhookConfig.webhookVariableTriggeredUserPermissionOrRole" 
            styleWidth="100%" 
            [required]="true" 
            [blankObject]="''" 
            [focusOutAutoFillFn]="formatVariableName"
            ></app-mat-form-field-input> 
          </li>
        </ul>
      </details>
      <br>
    </li>

    <ng-content select="[bodyContent]"></ng-content>
  
    <li>
      <details>
        <summary>Execution environment (run within docker container)</summary>
        <app-mat-form-field-input-option
        label="Docker container template"
        [(value)]="item.dockerContainerTemplate"
        [options]="ensibleDockerContainerTemplateOptions"
        styleWidth="100%"
        [noneLabelValue]="undefined"
        ></app-mat-form-field-input-option>
      </details>
      <br>
    </li>
  
    <li>
      <details>
        <summary>Build status</summary>
        <app-mat-form-field-input
        label="Build status"
        [value]="getBuildStatusUrl()"
        [readonly]="true"
        [showCopyToClipboard]="true"
        [styleWidth]="'100%'"
        ></app-mat-form-field-input>
        <br>
        <p [style.color]="'yellow'">Add this iframe to your web page or github, gitlab, etc.</p>
      </details>
      <br>
    </li>
  
    <li class="flex-row-container-auto">
      <button mat-raised-button color="primary" (click)="save()" [disabled]="!isValidForm() || !isValueChange()">Save</button>
      <button mat-raised-button color="warn" (click)="revert()" [disabled]="!isValueChange()">Revert</button>
      <button *ngIf="item.id" mat-raised-button color="primary" (click)="clone()">Clone</button>
      <button *ngIf="item.id" mat-raised-button color="warn" (click)="deleteItem()">Delete</button>
    </li>
  </ul>
  