<ul class="margin-center">
  <li class="flex-row-container">
    <app-mat-form-field-input-dynamic
    label="Table"
    [(value)]="useTable"
    [isSlideToggle]="true"
    (onValueChange)="init()"
    ></app-mat-form-field-input-dynamic>
    <button mat-icon-button color="primary" (click)="init()" [matTooltip]="'Refresh'">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="addItem()" [matTooltip]="'Add new item'">
      <mat-icon>add_box</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="modifyCurrentPathUserAccess()" [matTooltip]="'Modify user access of all item in path: ' + currentPath">
      <mat-icon>lock</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="backupItems()" [matTooltip]="useTable ? 'Backup all item': 'Backup all item in path: ' + currentPath">
      <mat-icon>backup</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="restoreItems()" [matTooltip]="'Restore items'">
      <mat-icon>restore</mat-icon>
    </button>
  </li>
  <hr>

  <li *ngIf="useTable">
    <app-mat-table-lazy
    [matRowsPage]="pageItems"
    [blankObject]="blankItem"
    (onEditRow)="selectItem($event)"
    [showFilter]="true"
    [showPagination]="true"
    [pageSizeOptions]="[20, 50, 100, 500]"
    (onLazyPageChange)="onLazyPageChange($event)"
    [sendPageIndexChangeSubject]="sendPageIndexChangeSubject"
    ></app-mat-table-lazy>
  </li>

  <li *ngIf="!useTable">
    <app-mat-table-path-lazy
    [value]="items"
    [getPathFn]="getPath"
    [getLabelFn]="getLabel"
    (onItemSelected)="selectItem($event)"
    [savePathToLocalStorage]="true"
    [unixStyleBack]="true"
    [readonlyPathInput]="true"
    (onLazyPathChange)="onLazyPathChange($event)"
    ></app-mat-table-path-lazy>
  </li>
</ul>
