<p *ngIf="error">
  {{error}}
</p>

<ul *ngIf="!error" class="margin-center">
  <li>
    <app-mat-form-field-input-dynamic
    label="Easy Mode"
    [isSlideToggle]="true"
    [(value)]="easyMode"
    ></app-mat-form-field-input-dynamic>
  </li>
  <li>
    <p>
      <b>File Metadata</b>
      <br>
      <span>File name: {{fileName}}</span>
      <br>
      <span>File path: {{fullSortedPath}}</span>
    </p>
  </li>
  <li>
    <app-mat-form-field-input
    label="File Name"
    [(value)]="fileName"
    ></app-mat-form-field-input>
  </li>
  <hr>
  <ul *ngIf="parentName === 'secrets' && !vaultDectypted">
    <li>
      <app-mat-form-field-input-dynamic
      label="Decrtypt with password?"
      [(value)]="vaultDectyptWithPassword"
      [isSlideToggle]="true"
      ></app-mat-form-field-input-dynamic>
    </li>
    <li class="flex-row-container">
      <ng-container *ngIf="vaultDectyptWithPassword">
        <app-mat-form-field-input
        label="Decrtypt with password"
        [(value)]='vaultDectypt'
        ></app-mat-form-field-input>
      </ng-container>
      
      <ng-container *ngIf="!vaultDectyptWithPassword">
        <app-mat-form-field-input-option
        label="Decrtypt with password file"
        (selectionChange)="vaultDectypt = $event.path"
        [options]="ensibleWorkspaceParserService.passwordFileOptions"
        ></app-mat-form-field-input-option>
      </ng-container>
      <button mat-raised-button color="primary" (click)="decryptFileContent()">Decrypt</button>
    </li>
  </ul>
  
  <hr>
  <li *ngIf="!easyMode">
    <app-code-editor
    [language]="getLanguageType()"
    [(value)]="fileContent"
    styleWidth="100%"
    ></app-code-editor>
  </li>
  <li>
    <br>
    <button mat-raised-button color="primary" style="width: 50%;" (click)="save()" [disabled]="!isValueChange()">Save</button>
    <button mat-raised-button color="warn" style="width: 50%;" (click)="revert()" [disabled]="!isValueChange()">Revert</button>
  </li>
</ul>
