<p *ngIf="error">
  {{error}}
</p>

<ul *ngIf="!error" class="margin-center" appMatFormFieldGroup (onAllInputCheck)="validForm = $event">
  <li>
    <app-mat-form-field-input-dynamic
    label="Easy Mode"
    [isSlideToggle]="true"
    [(value)]="easyMode"
    ></app-mat-form-field-input-dynamic>
  </li>
  <li>
    <p>
      <b>File Metadata</b>
      <br>
      <span>File name: {{fileName}}</span>
      <br>
      <span>File path: {{fullSortedPath}}</span>
    </p>
  </li>
  <li>
    <app-mat-form-field-input
    label="File Name"
    [(value)]="fileName"
    [required]="true"
    ></app-mat-form-field-input>
  </li>
  <ul *ngIf="isSecretFile() && (newFile || !vaultDectypted)">
    <hr>
    <li>
      <app-mat-form-field-input-dynamic
      [label]="getVaultTypeLabel() + ' with password?'"
      [(value)]="vaultCrtyptionWithPassword"
      [isSlideToggle]="true"
      (onValueChange)="vaultSecret = ''"
      ></app-mat-form-field-input-dynamic>
    </li>
    <li class="flex-row-container">
      <app-mat-form-field-input
      *ngIf="vaultCrtyptionWithPassword"
      [label]="getVaultTypeLabel() + ' with password'"
      [(value)]='vaultSecret'
      [required]="true"
      ></app-mat-form-field-input>
      
      <app-mat-form-field-input-option
      *ngIf="!vaultCrtyptionWithPassword"
      [label]="getVaultTypeLabel() + ' with password file'"
      (selectionChange)="vaultSecret = $event.path"
      [options]="ensibleWorkspaceParserService.passwordFileOptions"
      [required]="true"
      ></app-mat-form-field-input-option>

      <button mat-raised-button color="primary" (click)="decryptFileContent()">{{getVaultTypeLabel()}}</button>
    </li>
  </ul>
  
  <hr>
  <li *ngIf="!easyMode">
    <app-code-editor
    [language]="getLanguageType()"
    [(value)]="fileContent"
    styleWidth="100%"
    ></app-code-editor>
  </li>
  <li *ngIf="!isSecretFile()">
    <br>
    <button mat-raised-button color="primary" style="width: 50%;" (click)="save()" [disabled]="!isValueChange() || !validForm">Save</button>
    <button mat-raised-button color="warn" style="width: 50%;" (click)="revert()" [disabled]="!isValueChange() || !validForm">Revert</button>
  </li>

  <li *ngIf="isSecretFile() && vaultDectypted">
    <br>
    <button mat-raised-button color="primary" style="width: 50%;" (click)="saveSecrets()" [disabled]="!isValueChange() || !validForm">Save secret</button>
    <button mat-raised-button color="warn" style="width: 50%;" (click)="revert()" [disabled]="!isValueChange() || !validForm">Revert</button>
  </li>
</ul>
