<ng-container *ngIf="data.error" >
  <div style="color: red;" class="text-center">{{data.error}}</div>
</ng-container>

<ng-container *ngIf="!data.error">
  <ul class="margin-center" *ngIf="data.product && data.productCategoriesOptions">
      <mat-tab-group *ngIf="data.product.id" [selectedIndex]="selectedTabIndex" (selectedIndexChange)="changeTabIndex($event)">
        <mat-tab label="Product Overall / statistic">
          <app-product-overall
          [(selectedTabIndex)]="selectedTabIndex"
          ></app-product-overall>
        </mat-tab>
  
        <mat-tab label="Product Information">
          <app-product-basic
          [(selectedTabIndex)]="selectedTabIndex"
          ></app-product-basic>
        </mat-tab>
  
        <mat-tab label="Pinterest">
          <app-pinterest-product
          #pinterest
          [(selectedTabIndex)]="selectedTabIndex"
          ></app-pinterest-product>
        </mat-tab>
      </mat-tab-group>
    
    <app-product-basic
    *ngIf="!data.product.id"
    [(selectedTabIndex)]="selectedTabIndex"
    ></app-product-basic>
  </ul>
</ng-container>