<ul class="margin-center">
  <li class="flex-row-container">
    <button mat-icon-button color="primary" (click)="ngOnInit()" [matTooltip]="'Refresh'"><mat-icon>refresh</mat-icon></button>
    <button mat-icon-button color="primary" (click)="addNewTemplate()" [matTooltip]="'Add new template'"><mat-icon>add_box</mat-icon></button>
  </li>
  <hr>
  <li>
    <app-mat-table-lazy
    [matRowsPage]="ensibleDockerContainerTemplatesPage"
    [blankObject]="blankEnsibleDockerContainerTemplate"
    [showFilter]="true"
    [showPagination]="true"
    [pageSizeOptions]="[20, 50, 100, 500]"
    (onEditRow)="selectRow($event)"
    (onLazyPageChange)="onLazyPageChange($event)"
    [sendPageIndexChangeSubject]="sendPageIndexChangeSubject"
    ></app-mat-table-lazy>
  </li>
</ul>
