<mat-drawer-container style="height: 100%; width: 100%;" autosize>
  <mat-drawer #drawer mode="side">
    <viescloud-quick-side-drawer-menu
    [menu]="menu"
    ></viescloud-quick-side-drawer-menu>
  </mat-drawer>
  <mat-drawer-content [ngStyle]="getBackgroundImageNgStyle()">
    <vies-eco-header-minimal
    [drawer]="drawer"
    imageSrc="assets/images/logo-no-background.png"
    imageLink="https://hub.docker.com/r/viescloud/ensible-fullstack"
    [alias]="getUserAlias()"
    [isLogin]="ensibleAuthenticatorService.isAuthenticatedSync()"
    (onLogout)="ensibleAuthenticatorService.logout()"
    (onLogin)="router.navigate([environment.endpoint_login])"
    ></vies-eco-header-minimal>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
