<div class="margin-center">
  <ul>
    <li><h1 class="text-center" style="color: aqua;">Connected Services</h1></li>
    <li>
      <h1>Pinterest</h1>
    </li>
    <li>
      <button mat-raised-button color="primary" (click)="connectPinterest()" *ngIf="!isPinterestConnected()">Connect Now</button>
      <button mat-raised-button color="primary" (click)="connectPinterest()" *ngIf="isPinterestConnected()">Reconnect</button>
    </li>
    <hr>
    <li>
      <h1>Facebook</h1>
    </li>
    <li>
      <button mat-raised-button color="primary" [disabled]="true">Connect Now</button>
      <button mat-raised-button color="primary" [disabled]="true">Reconnect</button>
    </li>
    <hr>
    <li>
      <h1>Tiktok</h1>
    </li>
    <li>
      <button mat-raised-button color="primary" [disabled]="true">Connect Now</button>
      <button mat-raised-button color="primary" [disabled]="true">Reconnect</button>
    </li>
    <hr>
    <li>
      <h1>Youtube</h1>
    </li>
    <li>
      <button mat-raised-button color="primary" [disabled]="true">Connect Now</button>
      <button mat-raised-button color="primary" [disabled]="true">Reconnect</button>
    </li>
    <hr>
  </ul>
</div>