<ng-container *ngIf="ensibleFsDir; else Else">
  <ul class="margin-center">
    <li>
      <app-mat-table
      [matRows]="ensibleFsDir.child"
      [blankObject]="blankEnsibleFs"
      [showFilter]="true"
      [showPagination]="true"
      (onEditRow)="onEditFs($event)"
      [pageSizeOptions]="[50, 100, 200, 500]"
      ></app-mat-table>
    </li>
    <br>
    <li class="flex-row-container-auto">
      <button mat-raised-button color="primary" (click)="addNewFs()">Add new file</button>
    </li>
  </ul>
</ng-container>

<ng-template #Else>
  <h1 class="text-center" style="color: red;">Unable to load files</h1>
</ng-template>
