<br>
<button mat-icon-button color="primary" (click)="ngOnInit()" [matTooltip]="'Refresh'"><mat-icon>refresh</mat-icon></button>
<hr>
<app-mat-table-lazy
[matRowsPage]="pageLogs"
[showFilter]="true"
[showPagination]="true"
[blankObject]="blankLog"
[pageSizeOptions]="[10, 20, 50, 200, 1000]"
[initSort]="{key: 'runNumber', order: 'desc'}"
(onEditRow)="selectLog($event)"
(onMiddleClickRow)="selectLogInNewTab($event)"
(onLazyPageChange)="onLazyPageChange($event)"
[sendPageIndexChangeSubject]="sendPageIndexChangeSubject"
>
    <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu" viescloudClickStopPropagation>
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="selectLogInNewTab(element)">
                <mat-icon>open_in_new</mat-icon>
                <span>Open In new tab</span>
            </button>
            <button mat-menu-item [disabled]="!isRunning(element)" (click)="stop(element)">
                <mat-icon>stop</mat-icon>
                <span>Stop Process</span>
            </button>
            <button mat-menu-item [disabled]="isRunning(element)" (click)="removeLog(element)">
                <mat-icon>delete</mat-icon>
                <span>Remove Log</span>
            </button>
            </mat-menu>
        </td>
    </ng-container>
</app-mat-table-lazy>
