<mat-tab-group style="width: 100%;" *ngIf="dnsRecord">
  <mat-tab label="Details">
    <ul class="margin-center">
      <li class="flex-row-container">
        <app-mat-form-field-input-list
        label="Viescloud"
        [(value)]="dnsRecord.publicNginxRecord.domain_names"
        [blankObject]="blankDnsRecord.publicNginxRecord.domain_names"
        [showSizeInput]="false"
        styleWidth="100%"
        [maxSize]="10"
        style="width: 48%; height: 100%;"
        ></app-mat-form-field-input-list>

        <app-mat-form-field-input-list
        label="Vieslocal"
        [(value)]="dnsRecord.localNginxRecord.domain_names"
        [blankObject]="blankDnsRecord.publicNginxRecord.domain_names"
        [showSizeInput]="false"
        styleWidth="100%"
        [maxSize]="10"
        style="width: 48%; height: 100%;"
        ></app-mat-form-field-input-list>
      </li>
    </ul>
  </mat-tab>
  <mat-tab label="Custom Location">

  </mat-tab>
  <mat-tab label="SSL">

  </mat-tab>
  <mat-tab label="Advanced">

  </mat-tab>
</mat-tab-group>

<div class="flex-row-container">
  <button mat-raised-button color="primary" [disabled]="!isValueChange()" (click)="save()">Save</button>
  <button mat-raised-button color="warn" (click)="onEdit.emit(undefined)">Cancel</button>
</div>