<ul class="margin-center" appMatFormFieldGroup (onAllInputCheck)="validForm.set($event)">
  <li>
    <app-mat-form-field-input-dynamic
      [(value)]="value"
      [blankObject]="blankValue"
      [inputMap]="inputField('opt')
                    .set(inputKeys.indent, false)
                    .set(inputKeys.styleWidth, '100%')"
    ></app-mat-form-field-input-dynamic>
  </li>
  <li class="flex-row-container-auto">
    <button matButton="filled" (click)="save()" [disabled]="_value.isValueNotChange() || !validForm()">Save</button>
    <button matButton="filled" class="warn" (click)="revert()" [disabled]="!_value.isValueChange()">Revert</button>
    <button matButton="filled" class="warn" (click)="remove()" [disabled]="!id()">Delete</button>
  </li>
</ul>
