<ul class="margin-center" *ngIf="!selectedUser">
  <li>
    <app-mat-table
    [matRows]="users"
    [blankObject]="blankUser"
    [showMatTooltip]="true"
    [showPagination]="true"
    [showFilter]="true"
    (onEditRow)="selectUser($event)"
    ></app-mat-table>
  </li>
  <li>
    <br>
    <button [style.width]="'100%'" mat-raised-button color="primary" (click)="addUser()">Add user</button>
  </li>
</ul>

<ul class="margin-center" *ngIf="selectedUser" appMatFormFieldGroup (onAllInputCheck)="validForm = $event">
  <li class="flex-row-container">
    <button mat-raised-button color="primary" (click)="selectedUser = undefined">Back</button>
    <button mat-raised-button color="primary" (click)="addUserGroup()" >Add user group</button>
  </li>
  <hr>
  <li>
    <app-mat-form-field-input-list-option
    label="User Groups"
    [(value)]="selectedUser.userGroups"
    [options]="userGroupsOptions"
    [styleWidth]="'100%'"
    [showSizeInput]="false"
    [required]="true"
    [minSize]="1"
    [uniqueValue]="true"
    ></app-mat-form-field-input-list-option>
    <br>
  </li>
  <li>
    <app-mat-form-field-input-dynamic
    [(value)]="selectedUser"
    [blankObject]="blankUser"
    styleWidth="100%"
    ></app-mat-form-field-input-dynamic>
  </li>
  <li>
    <app-mat-form-field-input
    label="Password"
    [(value)]="selectedUser.password"
    [required]="selectedUser.id === 0"
    [showVisibleSwitch]="true"
    [styleWidth]="'100%'"
    ></app-mat-form-field-input>
  </li>
  <li>
    <button [style.width]="'50%'" mat-raised-button color="primary" (click)="save()" [disabled]="!isValueChange() || !validForm">Save</button>
    <button [style.width]="'50%'"  mat-raised-button color="warn" (click)="revert()" [disabled]="!isValueChange() || !validForm">revert</button>
  </li>
</ul>
