<ul class="margin-center">
  <li><h1 class="text-center">VK.json builder</h1></li>
  <hr>
  <li><h2 class="text-center">Config Map</h2></li>
  <li class="flex-row-container">
    <ng-container *ngFor="let model of configModels" >
      <button mat-raised-button color="primary" (click)="updateBuildModel(model)">{{model.name}}</button>
    </ng-container>
  </li>
  <hr>
  <li><h2 class="text-center">Possible replacement variable</h2></li>
  <li>
    <app-mat-form-field-input
    label="Path"
    placeholder="Give jenkins path here"
    [(value)]="jobRequest.path"
    styleWidth="100%"
    ></app-mat-form-field-input>
  </li>
  <li>
    <app-mat-form-field-input
    label="Job Name"
    placeholder="Give jenkins job a name here"
    [(value)]="jobRequest.jobName"
    styleWidth="100%"
    ></app-mat-form-field-input>
  </li>
  <li *ngFor="let model of buildModelTemplate; let i = index; trackBy: trackByIndex;">
    <app-mat-form-field-input
    [label]="model[0]"
    (valueOutput)="model[1] = $event"
    styleWidth="100%"
    ></app-mat-form-field-input>
  </li>
  <hr>
  <li><button mat-raised-button color="primary" style="width: 100%; margin-bottom: 10px;" (click)="onBuildModel()">Build</button></li>
  <li>
    <app-mat-form-field-input-text-area
    styleWidth="100%"
    ></app-mat-form-field-input-text-area>
  </li>
  <hr>
  <li><button mat-raised-button color="primary" style="width: 100%; margin-bottom: 10px;" (click)="addToList()">Add to list</button></li>
  <li>
    <app-mat-form-field-input-text-area
    styleWidth="100%"
    ></app-mat-form-field-input-text-area>
  </li>
</ul>