<ul class="margin-center">
  @if (_showTable()) {
    <li>
      <app-mat-table
      [matRows]="attributeOptionList()"
      [blankObject]="blankAttributeOption"
      (onEditRow)="selectedAttributeOption($event)"
      ></app-mat-table>
    </li>
    <br>
    <li class="flex-row-container-auto">
      <button matButton="filled" (click)="addAttributeOption()">Add attribute option</button>
    </li>
  }
  @else {
    <li>
      <app-mat-form-field-input-list-option
      [(value)]="selectedAttributeOptions"
      [options]="options()"
      [inputMap]="inputField('1').set(inputKeys.label, 'Attribute Options')
                                 .set(inputKeys.showAddItemButton, true)
                                 .set(inputKeys.showSizeInput, false)
                                 .set(inputKeys.showSearchOption, true)
                                 .set(inputKeys.uniqueValue, true)
                                 .set(inputKeys.styleWidth, '100%')"
      ></app-mat-form-field-input-list-option>
    </li>
  }
</ul>