<ul *ngIf="isThereAreData()">
  <li>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Pinterest</mat-panel-title>
        <mat-panel-description>
          Pin data
        </mat-panel-description>
      </mat-expansion-panel-header>

      <button 
      [matTooltip]="getPinterestLink(product.pinterestPinData?.pinResponse!.id)"
      mat-raised-button color="primary" 
      (click)="openPinterestPinLink(product.pinterestPinData?.pinResponse!.id)"
      >Go to pin</button>
      <hr>
      <app-mat-form-field-input-dynamic
      [value]="product.pinterestPinData?.pinResponse"
      [blankObject]="blankPinResponse"
      ></app-mat-form-field-input-dynamic>

    </mat-expansion-panel>
  </li>
</ul>

<h1 *ngIf="!isThereAreData()" class="text-center">No marketing data for this product yet</h1>