<ul class="margin-center">
  <li>
    <app-product-media-list
    [productMedias]="product().medias"
    (productMediasChange)="product.set({...product(), medias: $event})"
    ></app-product-media-list>
  </li>
  <li>
    <app-mat-form-field-input-dynamic
    [(value)]="product"
    [blankObject]="blankProduct"
    [inputMap]="inputField('1').set(inputKeys.indent, false).set(inputKeys.styleWidth, '100%')"
    ></app-mat-form-field-input-dynamic>
  </li>
  <li>
    <button matButton="filled" (click)="printProduct()">print product</button>
  </li>
</ul>