<app-mat-form-field-input
appDisableKeyCaptureOnInput
*ngIf="wrapWorkspace && mode === 'view'"
label="Search"
placeholder="Google, YouTube, ..."
[(value)]="searchText"
styleWidth="100%"
[options]="searchOptions"
></app-mat-form-field-input>

<ul *ngIf="wrapWorkspace" class="flex-row-container">
  <li *ngFor="let wrap of wrapWorkspace.wraps; let i = index; trackBy: trackByIndex">
    <app-wrap-item
    [wrap]="wrap"
    (wrapChange)="wrapWorkspace.wraps[i] = $event"
    [(mode)]="mode"
    (onMoveLeft)="moveLeft(i)"
    (onMoveRight)="moveRight(i)"
    (onDelete)="deleteWrap(i)"
    ></app-wrap-item>
  </li>
  <li *ngIf="mode === 'edit'">
    <app-wrap-plus-button
    (onNewWrap)="wrapWorkspace.wraps.push($event)"
    ></app-wrap-plus-button>
  </li>
</ul>