<app-mat-form-field-input
appDisableKeyCaptureOnInput
*ngIf="wrapWorkspace && mode === 'view'"
label="Search"
placeholder="Google, YouTube, ..."
[(value)]="searchText"
styleWidth="100%"
[options]="searchOptions"
></app-mat-form-field-input>

<ul *ngIf="wrapWorkspace" class="flex-row-container">
  <ng-container *ngIf="searchText && mode === Mode.VIEW; else Else">
    <li *ngFor="let wrap of getFilteredWraps(); let i = index; trackBy: trackByIndex">
      <app-wrap-item
      [wrap]="wrap"
      (wrapChange)="wrapWorkspace.wraps[i] = $event"
      [(mode)]="mode"
      [corsProxyUrl]="wrapWorkspace.corsProxyUrl || 'https://thingproxy.freeboard.io/fetch/'"
      (onMoveLeft)="moveLeft(i)"
      (onMoveRight)="moveRight(i)"
      (onDelete)="deleteWrap(i)"
      ></app-wrap-item>
    </li>
  </ng-container>

  <ng-template #Else>
    <li *ngFor="let wrap of wrapWorkspace.wraps; let i = index; trackBy: trackByIndex">
      <app-wrap-item
      [wrap]="wrap"
      (wrapChange)="wrapWorkspace.wraps[i] = $event"
      [(mode)]="mode"
      [corsProxyUrl]="wrapWorkspace.corsProxyUrl || 'https://thingproxy.freeboard.io/fetch/'"
      (onMoveLeft)="moveLeft(i)"
      (onMoveRight)="moveRight(i)"
      (onDelete)="deleteWrap(i)"
      ></app-wrap-item>
    </li>
  </ng-template>

  <li *ngIf="mode === Mode.EDIT">
    <app-wrap-plus-button
    (onNewWrap)="wrapWorkspace.wraps.push($event)"
    ></app-wrap-plus-button>
  </li>
</ul>