<ul *ngIf="product &&product.pinterestPinData && product.pinterestPinData.pinRequest" class="margin-center" appMatFormFieldGroup (onAllInputCheck)="validInput = $event">
  <li>
    <app-product-display
    [files]="vFiles"
    [(selectedIndex)]="selectedFileIndex"
    (onRemoveFile)="onRemoveFile($event)"
    [fileOptions]="fileOptions"
    (onSelectFileOption)="importFileFromProduct($event)"
    (onAddFile)="addNewFile()"
    ></app-product-display>
  </li>
  <ng-container *ngIf="product.pinterestPinData.pinRequest.media_source">
    <hr>
    <li>
      <app-mat-form-field-input-dynamic
      [(value)]="product.pinterestPinData.pinRequest.media_source"
      [blankObject]="getMediaSourceBlankObject()"
      styleWidth="100%"
      ></app-mat-form-field-input-dynamic>
    </li>
  </ng-container>
  <hr>
  <li>
    <button mat-raised-button color="primary" style="width: 100%;" (click)="autoFillInformation()">Auto Fill Information</button>
  </li>
  <br>
  <li>
    <app-mat-form-field-input-option
    label="Board Name"
    [(value)]="product.pinterestPinData.pinRequest.boardName"
    [options]="boardNameOptions"
    noneLabel="Please select a board name"
    [required]="true"
    styleWidth="100%"
    blankObject="Please select a board name"
    ></app-mat-form-field-input-option>
  </li>
  <li>
    <app-mat-form-field-input-dynamic
    [(value)]="product.pinterestPinData.pinRequest"
    [blankObject]="blankPinRequest"
    styleWidth="100%"
    [showListRemoveItemButton]="false"
    [showListAddItemButton]="false"
    ></app-mat-form-field-input-dynamic>
  </li>
  <li>
    <button mat-raised-button color="primary" style="width: 100%;" (click)="uploadProduct()" [disabled]="isProductChange() || !validInput">{{product.pinterestPinData.pinResponse ? 'Modify Pin in Pinterest' : 'Upload Pin to Pinterest'}}</button>
  </li>
  <li>
    <button mat-raised-button color="primary" style="width: 50%;" [disabled]="!isProductChange() || !validInput" (click)="save()">{{product.id ? 'Modify' : 'Add'}}</button>
    <button mat-raised-button color="warn" style="width: 50%;" [disabled]="!isProductChange()" (click)="reverse()">Undo Change</button>
  </li>
</ul>