<app-ensible-item
[blankItem]="blankItem"
[item]="item"
[suffix]="'playbooks'"
[itemService]="ensibleItemService"
(itemChange)="itemChange.emit($event)"
(isEditing)="isEditing.emit($event)"
(onRevert)="revert()"
>
  <div optionContent>
    <li>
      <app-mat-form-field-input-option
      label="Verbosity"
      [(value)]="item.verbosity"
      [options]="verbosityOptions"
      styleWidth="100%"
      [noneLabelValue]="''"
      ></app-mat-form-field-input-option>
    </li>
  </div>

  <div bodyContent>
    <li>
      <details open>
        <summary>Inventory</summary>
        <ul>
          <li>
            <app-mat-form-field-input-option
            label="Inventory"
            [(value)]="item.inventoryPath"
            [options]="ensibleFsService.inventoriesFileOptions"
            [noneLabel]="''"
            [required]="true"
            styleWidth="100%"
            ></app-mat-form-field-input-option>
          </li>
          <li *ngIf="item.inventoryPath">
            <details>
              <summary>Quick Edit</summary>
              <app-ensible-fs
              [fsPath]="item.inventoryPath"
              (isEditing)="isFsEditing[0] = $event"
              ></app-ensible-fs>
            </details>
          </li>
        </ul>
      </details>
      <br>
    </li>
  
    <li>
      <details open>
        <summary>Playbook</summary>
        <ul>
          <li>
            <app-mat-form-field-input-option
            label="Playbook"
            [(value)]="item.playBookPath"
            [options]="ensibleFsService.playbooksFileOptions"
            [noneLabel]="''"
            [required]="true"
            styleWidth="100%"
            ></app-mat-form-field-input-option>
          </li>
          <li *ngIf="item.playBookPath">
            <details>
              <summary>Quick Edit</summary>
              <app-ensible-fs
              [fsPath]="item.playBookPath"
              (isEditing)="isFsEditing[1] = $event"
              ></app-ensible-fs>
            </details>
          </li>
        </ul>
      </details>
      <br>
    </li>
  
    <li>
      <details>
        <summary>Secret</summary>
        <ul>
          <li>
            <app-mat-form-field-input-option
            label="Secret File"
            [(value)]="item.vaultSecretsFilePath"
            [options]="ensibleFsService.secretsFileOptions"
            styleWidth="100%"
            [blankObject]="''"
            ></app-mat-form-field-input-option>
          </li>
          <li *ngIf="item.vaultSecretsFilePath">
            <details>
              <summary>Quick Edit</summary>
              <app-ensible-fs
              [fsPath]="item.vaultSecretsFilePath"
              (isEditing)="isFsEditing[2] = $event"
              ></app-ensible-fs>
            </details>
            <hr>
          </li>
          <li>
            <app-mat-form-field-input-option
            *ngIf="item.vaultSecretsFilePath"
            label="Secret password file"
            [(value)]="item.vaultPasswordFilePath"
            [options]="ensibleFsService.passwordFileOptions"
            styleWidth="100%"
            [required]="true"
            ></app-mat-form-field-input-option>
          </li>
        </ul>
      </details>
      <br>
    </li>
  </div>
</app-ensible-item>