<ng-container *ngIf="item">

  <mat-tab-group class="margin-center" [selectedIndex]="selectedIndex" (selectedIndexChange)="indexChanged($event)" *ngIf="item.id; else Else">
    <mat-tab [label]="tabNames[0]" [disabled]="isEditing">
      <app-ensible-item
      [item]="item"
      (itemChange)="ngOnInit()"
      (isEditing)="isEditing = $event"
      ></app-ensible-item>
    </mat-tab>

    <mat-tab [label]="tabNames[1]" [disabled]="isEditing">
      <app-ensible-item-run-history
      [item]="item"
      [triggerInit]="selectedIndex === 1"
      (onSelectedLog)="selectedIndex = 2"
      ></app-ensible-item-run-history>
    </mat-tab>

    <mat-tab [label]="tabNames[2]" [disabled]="isEditing">
      <app-ensible-item-run
      [item]="item"
      [triggerInit]="selectedIndex === 2"
      ></app-ensible-item-run>
    </mat-tab>
  </mat-tab-group>

  <ng-template #Else>
    <app-ensible-item
    [(item)]="item"
    ></app-ensible-item>
  </ng-template>

</ng-container>
