<ul class="margin-center">

  <li class="filter-row">
    <app-mat-form-field-input
      [value]="searchTerm()"
      (valueChange)="searchTerm.set($event)"
      [inputMap]="inputField('return-search')
                    .set(inputKeys.label, 'Search returns')
                    .set(inputKeys.placeholder, 'By return number…')
                    .set(inputKeys.showClearIcon, true)
                    .set(inputKeys.styleWidth, '100%')"
    ></app-mat-form-field-input>

    <app-mat-form-field-input-option
      [value]="statusFilter()"
      (valueChange)="statusFilter.set($event)"
      [options]="statusOptions"
      [noneLabel]="''"
      [inputMap]="inputField('return-status-filter')
                    .set(inputKeys.label, 'Status')
                    .set(inputKeys.styleWidth, '240px')"
    ></app-mat-form-field-input-option>
  </li>

  <li>
    <app-mat-table
      [matRows]="filteredReturns()"
      [blankObject]="blankReturn"
      (onEditRow)="selectReturn($event)"
    ></app-mat-table>
  </li>
  <br>
  <li class="flex-row-container-auto">
    <button matButton="filled" (click)="addReturn()">Create return</button>
  </li>
</ul>
