<ul class = "margin-center">
  <li>
    <app-mat-form-field-input-option
    [value]="currentWorkspace"
    (valueChange)="onSelectWorkspace($event)"
    [options]="options"
    [noneLabel]="getNoneLabel()"
    styleWidth="50%"
    ></app-mat-form-field-input-option>

    <app-mat-form-field-input-option
    [(value)]="mode"
    label="Mode"
    noneLabel=""
    [options]="modeOptions"
    styleWidth="50%"
    ></app-mat-form-field-input-option>
  </li>
  <li *ngIf="mode.toString() === 'edit' && currentWorkSpaceIndex >= 0">
    <button mat-raised-button color="warn" (click)="removeThisWorkspace()">Remove this workspace</button>
  </li>
  <li *ngIf="mode.toString() === 'edit'">
    <button mat-raised-button color="primary" (click)="saveLocally()">Save locally</button>
    <button mat-raised-button color="primary" (click)="saveToServer()" [disabled]="!authenticatorService.isLoginB">Save to Server</button>
  </li>
  <li>
    <app-wrap
    *ngIf="currentWorkSpaceIndex >= 0"
    [(wrapWorkspace)]="wrapService.wrapWorkspaces[currentWorkSpaceIndex]"
    [(mode)]="mode"
    ></app-wrap>
  </li>
</ul>